@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@inject ICartService cart

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] магазик</title>

        <!-- <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> -->
        <link rel="stylesheet" href="~/lib/bootstrap/scss/bootstrap.css" />
        <script src="~/lib/jquery/dist/jquery.js"></script>
        
        
         
        <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Магазик</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav align-items-end">
      <li class="nav-item active">
        <a class="nav-link" asp-controller="Home" asp-action="Index">Главная <span class="sr-only">(current)</span></a>
      </li>
      
    
      
      </li>
      <li class="nav-item">
        <a class="nav-link" asp-controller="Admin" asp-action="Index">Управление</a>
      </li>
      <li class="nav-item justify-content-end">
          <a asp-controller="cart" class="nav-link" asp-action="index">🛒
            @{
            int w = cart.GetCount();
            }
            @if(w == 0) 
            {
            <span class="badge badge-dark">0</span>
            }
            else
            {
            <span class="badge badge-danger">@w</span>
            }
          </a>
    
      </li> 
      
    </ul>
   
  </div>
</nav>


    @RenderBody()

</body>
</html>
