@model Good

    <h3>@Model.Name</h3>
    <form id="@Model.GoodId" asp-action="AddToCart" asp-controller="Cart" method="post">
        <input type="hidden" asp-for="GoodId" />
        <img src="@Model.ImgPath" width="100" height="100"/>
        <span class="card-text p-1">
            @Model.Description
            <button type="submit" class="btn btn-success btn-sm pull-right" style="float:right">
                Add To Cart
            </button>
            
        </span>
        <hr>   
    </form>
