@model Good

<div class="container">
<div class="col-md-12">
<a href="/"><button class="btn btn-primary" style="margin:5px">
    Назад</button> </a>

<div class="card">
@Html.Partial("ProductSummary", Model)
</div>    
</div>
</div>